on: 
  workflow_dispatch: 
jobs:
  job_1:
    strategy:
      fail-fast: false
      matrix:
        node_version:[16, 18, 20]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps: 
      - uses: actions/setup-node@v4
        with: 
          node-version: ${{ matrix.node_version }}
      